<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Etched In Stone</title>
        <link rel="icon" href="/static/logo/S.png">
        <link rel="stylesheet" href="/static/stylesheets/home.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="preloader">
            <img src="/static/logo/anim3.gif" alt="">
        </div>
        <section id="firstSec">
            <div class="navBar">
                <nav>
                    <div class="navSec1">
                        <img src="/static/logo/white.png" alt="">
                    </div>
                    <div class="navSec2">
                        <button id="servBtn">Services</button>
                        <button id="gallBtn">Gallery</button>
                        <button id="abtBtn">About</button>
                        <button id="contBtn">Contact</button>
                    </div>
                </nav>
            </div>
            <div class="heroLandingContent">
                <div>
                    <span>Etched in Stone</span>
                    <span></span>
                </div>
                <div>
                    <button id="contBtn2">Contact</button>
                </div>
                <!-- <div>
                    <img src="/static/icons/scrollDown.png" alt="">
                </div> -->
            </div>
            <div class="scrollDownIco">
                <img src="/static/icons/scrollDown.png" alt="">
            </div>
        </section>
        <section id="secondSec">
            <div class="secondSec1">
                <div class="div25">
                    <img src="/static/logo/black.png" alt="Etched In Stone Logo">
                </div>
                <div class="div75">
                    <div>
                        <h1>About Us</h1>
                        <img src="" alt="">
                    </div>
                    <div>
                        <p>
                            We believe every successful project begins with a strong foundation. With years of experience in concrete construction and natural stone craftsmanship, we have earned a reputation for quality, reliability, and attention to detail.
                            Our skilled professionals work closely with every client to understand their vision and deliver results that exceed expectations. From small residential improvements to large-scale commercial developments, we approach every project with professionalism and precision.
                        </p>
                    </div>
                </div>
            </div>
            <hr id="hrsep" class="secSeparator">
            <div class="secondSec2">
                <div class="secondSec2Header">
                    <h1>Our Services</h1>
                </div>
                <div class="secondSec2p">
                    <p>We provide professional concrete and construction services of projects of every size.</p>
                </div>
                <div class="secondSec2Services">
                    <div class="secondSec2Servs">
                        <div>
                            <img src="/static/icons/trowel.png" alt="">
                        </div>
                        <span>Stoneworks</span>
                    </div>
                    <div class="secondSec2Servs">
                        <div>
                            <img src="/static/icons/wall.png" alt="">
                        </div>
                        <span>Wall Designs</span>
                    </div>
                    <div class="secondSec2Servs">
                        <div>
                            <img src="/static/icons/path.png" alt="">
                        </div>
                        <span>Sidewalks</span>
                    </div>
                    <div class="secondSec2Servs">
                        <div>
                            <img src="/static/icons/repair.png" alt="">
                        </div>
                        <span>Concrete Repairs</span>
                    </div>
                    <div class="secondSec2Servs">
                        <div>
                            <img src="/static/icons/stone.png" alt="">
                        </div>
                        <span>Stone Crafts</span>
                    </div>
                </div>
            </div>
        </section>
        <section id="thirdSec">
            <div class="thirdSec1">
                <div class="thirdSec1Header">
                    <h1>Recent Works</h1>
                    <h1>Take A Look At Our Latest Projects</h1>
                </div>
                <div class="thirdSec1Graphic">
                    <img src="/static/icons/stone1.png" alt="">
                </div>
            </div>
            <hr id="thirdSecSeparator">
            <div class="thirdSec2">
                <div class="thirdSec2Projs">
                    <img src="https://plus.unsplash.com/premium_photo-1675864663118-9d6be35bcb93?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    <span>Stoneworks</span>
                </div>
                <div class="thirdSec2Projs">
                    <img src="https://plus.unsplash.com/premium_photo-1733342586521-6d04831831bd?q=80&w=1472&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    <span>Driveway</span>
                </div>
                <div class="thirdSec2Projs">
                    <img src="https://plus.unsplash.com/premium_photo-1728613098888-db53836a07e2?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    <span>Sidewalk</span>
                </div>
            </div>
        </section>
        <section id="fourthSec">
            <div class="fourthSecHeader">
                <h1>Gallery</h1>
            </div>
            <div class="fourthSecImages">
                <div>
                    <img src="https://media.istockphoto.com/id/623298654/photo/paving-stone-worker.jpg?s=612x612&w=0&k=20&c=Crb1f7KlO7RktSptlv-9kCJdEU1IxAr4cm0R_X0VRug=" alt="">
                    <img src="https://plus.unsplash.com/premium_photo-1683121530725-e9ddd6c74ef1?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    <img src="https://images.unsplash.com/photo-1574757987642-5755f0839101?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                </div>
                <div>
                    <img src="https://images.unsplash.com/photo-1669170930713-f7c778496177?q=80&w=688&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    <img src="https://images.unsplash.com/photo-1498457349504-289ee698e52c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzF8fGNvbmNyZXRlJTIwY29uc3RydWN0aW9ufGVufDB8fDB8fHww" alt="">
                    <img src="https://images.unsplash.com/photo-1685464197644-41d9b07e1e73?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    <img src="https://images.unsplash.com/photo-1588399944136-efbd34b99d6b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzJ8fGNvbmNyZXRlJTIwY29uc3RydWN0aW9ufGVufDB8fDB8fHww" alt="">
                </div>
                <div>
                    <img src="https://plus.unsplash.com/premium_photo-1661901515851-bf7deaeb845b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDF8fGNvbmNyZXRlJTIwY29uc3RydWN0aW9ufGVufDB8fDB8fHww" alt="">
                    <img src="https://images.unsplash.com/photo-1673978484202-ea21a0750148?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    <img src="https://images.unsplash.com/photo-1694521788304-1d42378498da?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                </div>
            </div>
        </section>
        <section id="fifthSec">
            <div class="fifthSecHeader">
                <span>Start a Project with us!</span>
            </div>
            <div class="fifthSecForm">
                <div class="fifthSecFormImg">
                    <img src="https://plus.unsplash.com/premium_photo-1661962468079-5d6791f9c627?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                </div>
                <div class="fifthSecContactForm">
                    <div class="fifthSecCFormHeader">
                        <span>
                            Send A Message
                        </span>
                    </div>
                    <form id="contactForm" action="https://api.web3forms.com/submit" method="POST">
                        <input type="hidden" name="access_key" value="a43e8137-5557-4a18-8d6d-940103581743">
                        <div class="fifthSecCFormInp">
                        <span>
                            Enter your full name
                        </span>
                        <input type="name" name="name" required placeholder="John Johnson">
                        </div>
                        <div class="fifthSecCFormInp">
                            <span>
                                Enter your email address
                            </span>
                            <input type="email" name="email" required placeholder="jj@gmail.com">
                        </div>
                        <div class="fifthSecCFormInp">
                            <span>
                                Enter your phone number
                            </span>
                            <input type="tel" name="phone" required placeholder="+1(676) 676 6769">
                        </div>
                        <div class="fifthSecCFormInp">
                            <span>
                                Message
                            </span>
                            <input type="text" name="message" required placeholder="Enter your Message">
                        </div>
                        <div class="fifthSecCFormBtn">
                            <button type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <section id="sixthSec">
            <div class="sixthSecLogo">
                <img src="/static/logo/white.png" alt="">
            </div>
            <div class="sixthSecLinks">
                <a href="#Services">Services</a>
                <a href="">About</a>
                <a href="">Gallery</a>
                <a href="">Contact</a>
            </div>
            <div class="sixthSecLinks1">
                <span>
                    <a href="">etchedinstone</a>
                    <img src="/static/icons/facebook.png" alt="">
                </span>
                <span>
                    <a href="">etchedinstone</a>
                    <img src="/static/icons/instagram.png" alt="">
                </span>
                <span>
                    <a href="">etchedinstone</a>
                    <img src="/static/icons/linkedin.png" alt="">
                </span>
                <span>
                    <a href="">etchedinstone</a>
                    <img src="/static/icons/x.png" alt="">
                </span>
            </div>
            <div class="sixthSecLinks2">
                <span>
                    <a href="">Johnny Daniels</a>
                    <img src="/static/icons/contact.png" alt="">
                </span>
                <span>
                    <a href="">+1 123 232 2323</a>
                    <img src="/static/icons/phone.png" alt="">
                </span>
                <span>
                    <a href="">contact@etchedinstone.com</a>
                    <img src="/static/icons/mail.png" alt="">
                </span>
                <span>
                    <a href="">New Hampshire, New York</a>
                    <img src="/static/icons/address.png" alt="">
                </span>
            </div>
            <div id="backToTopBtn">
                <img src="/static/icons/top.png" alt="">
            </div>
        </section>
    </body>
    <script src="/static/scripts/script.js"></script>
</html>