<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Etched In Stone | Services</title>
    <link rel="icon" href="/static/logo/S.png">
        <link rel="stylesheet" href="/static/stylesheets/services.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="preloader">
        <img src="/static/logo/anim3.gif" alt="">
    </div>
    <div class="navBar">
        <nav>
            <div class="navSec1">
                <img src="/static/logo/white.png" alt="">
            </div>
            <div class="navSec2">
                <button id="homeBtn">Home</button>
                <button id="gallBtn">Gallery</button>
                <button id="abtBtn">About</button>
                <button id="contBtn">Contact</button>
            </div>
        </nav>
    </div> 
    <section id="serviceSec">
        <h1>Our Services</h1>
        <div class="servicesContainer">
            <div class="services">
                <div class="serviceImage">
                    <img src="https://plus.unsplash.com/premium_photo-1675864663118-9d6be35bcb93?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                </div>
                <div class="serviceDescription">
                    <div class="servicesHeading">
                        Stoneworks
                    </div>
                    <div class="serviceInfo">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint, est nulla. Non tempore soluta officiis minima alias recusandae, itaque aspernatur repellendus doloremque? Fugit quod temporibus ad officia porro! Animi necessitatibus optio, quasi quia cum, quidem voluptate doloribus magnam reiciendis, voluptatum perspiciatis sapiente voluptatibus temporibus repudiandae. Possimus animi harum veritatis quibusdam?
                    </div>
                </div>
            </div>
            <div class="services">
                <div class="serviceDescription">
                    <div class="servicesHeading">
                        Driveway
                    </div>
                    <div class="serviceInfo">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis modi asperiores excepturi! Hic, quidem ipsam, dolorem asperiores reprehenderit nam esse molestiae obcaecati aliquid eveniet corrupti nulla quis id aut omnis. Itaque incidunt unde blanditiis sint, dicta maiores aperiam exercitationem, suscipit eligendi, voluptatum sunt inventore? Excepturi officia at incidunt nobis quae.
                    </div>
                </div>
                <div class="serviceImage">
                    <img src="https://plus.unsplash.com/premium_photo-1733342586521-6d04831831bd?q=80&w=1472&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                </div>
            </div>
            <div class="services">
                <div class="serviceImage">
                    <img src="https://plus.unsplash.com/premium_photo-1728613098888-db53836a07e2?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                </div>
                <div class="serviceDescription">
                    <div class="servicesHeading">
                        Sidewalk
                    </div>
                    <div class="serviceInfo">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati dicta, at omnis consectetur et placeat assumenda soluta dolores facilis illum maxime facere, consequatur minima consequuntur ut quo excepturi perferendis delectus. Temporibus est, perferendis laboriosam eius exercitationem deleniti deserunt ea eos facilis, amet ad placeat, libero quia? Autem voluptates provident fugit.
                    </div>
                </div>
            </div>
            <div class="services">
                <div class="serviceDescription">
                    <div class="servicesHeading">
                        Pavement
                    </div>
                    <div class="serviceInfo">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, non facilis molestiae sapiente quae reiciendis placeat harum consequuntur nisi numquam perspiciatis iste nemo ullam? Dolores ullam commodi dicta corrupti rem fugit veniam deserunt dolorem? Ad veritatis aut quo, dolor natus tenetur atque est a adipisci illum. Expedita veritatis hic quidem.
                    </div>
                </div>
                <div class="serviceImage">
                    <img src="https://media.istockphoto.com/id/623298654/photo/paving-stone-worker.jpg?s=612x612&w=0&k=20&c=Crb1f7KlO7RktSptlv-9kCJdEU1IxAr4cm0R_X0VRug=" alt="">
                </div>
            </div>
        </div>
    </section>
    <section id="sixthSec">
        <div class="sixthSecLogo">
            <img src="/static/logo/white.png" alt="">
        </div>
        <div class="sixthSecLinks">
            <a href="#Services">Services</a>
            <a href="">About</a>
            <a href="">Gallery</a>
            <a href="">Contact</a>
        </div>
        <div class="sixthSecLinks1">
            <span>
                <a href="">etchedinstone</a>
                <img src="/static/icons/facebook.png" alt="">
            </span>
            <span>
                <a href="">etchedinstone</a>
                <img src="/static/icons/instagram.png" alt="">
            </span>
            <span>
                <a href="">etchedinstone</a>
                <img src="/static/icons/linkedin.png" alt="">
            </span>
            <span>
                <a href="">etchedinstone</a>
                <img src="/static/icons/x.png" alt="">
            </span>
        </div>
        <div class="sixthSecLinks2">
            <span>
                <a href="">Johnny Daniels</a>
                <img src="/static/icons/contact.png" alt="">
            </span>
            <span>
                <a href="">+1 123 232 2323</a>
                <img src="/static/icons/phone.png" alt="">
            </span>
            <span>
                <a href="">contact@etchedinstone.com</a>
                <img src="/static/icons/mail.png" alt="">
            </span>
            <span>
                <a href="">New Hampshire, New York</a>
                <img src="/static/icons/address.png" alt="">
            </span>
        </div>
        <div id="backToTopBtn2">
            <img src="/static/icons/top.png" alt="">
        </div>
    </section>
</body>
<script src="/static/scripts/services.js"></script>
</html>